.dashboard {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .content {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        .tabs {
            flex-basis: var(--width-left-pane);
            flex-shrink: 0;
            border-right: var(--width-separator-thin) solid var(--color-separator);
            background: var(--color-text-on-dark);
            overflow: auto;

            a {
                opacity: 1;
            }
        }
        
        .container {
            display: flex;
            flex-grow: 1;
            overflow: auto;

            .viz {
                flex-grow: 1;
                overflow: auto;
            }
        }
    }
}
