.inputs {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .header {
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-medium);
    }

    .content {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        .tabs {
            flex-grow: 0;
            flex-shrink: 0;
            border-right: var(--width-separator-thin) solid var(--color-separator);
            width: auto;
            overflow: auto;
        }

        .faram {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .input-details {
                flex-grow: 1;
            }
        }
    }
}
