.navbar {
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    overflow: auto;

    .menu {
        display: flex;
        flex-direction: row;
        overflow: auto;
    }
}
